/results/
/results_old/
/augmentations_old.py
/note_baselines.txt
/plots_old.ipynb
/plots_results.ipynb
/plots_weights.ipynb
/tsne_plots.ipynb
/Untitled.ipynb
/check_noise.ipynb
/data/
/.ipynb_checkpoints/
/.idea/
!/data/preprocessed/ADL_HMP_Dataset/dataprocessing.ipynb
!/data/preprocessed/Daily and Sports Activities Data Set/dataprocessing.ipynb
!/data/preprocessed/PAMAP2/dataprocessing.ipynb
!/data/preprocessed/REALDISP/dataprocessing.ipynb
!/data/preprocessed/Vicon Physical Action Data Set/dataprocessing.ipynb
!/data/preprocessed/WISDM/dataprocessing.ipynb
!/data/preprocessed/WISDM/dataprocessing2.ipynb
