/results/
/results_old/
/augmentations_old.py
/note_baselines.txt
/plots_old.ipynb
/plots_results.ipynb
/plots_weights.ipynb
/tsne_plots.ipynb
/Untitled.ipynb
/check_noise.ipynb
/data/raw/
/data/preprocessed_old
/.ipynb_checkpoints/
/.idea/
/data/preprocessed/ADL_HMP_Dataset/data.pickle
/data/preprocessed/Daily and Sports Activities Data Set/data.pickle
/data/preprocessed/PAMAP2/data.pickle
/data/preprocessed/REALDISP/data_ideal.pickle
/data/preprocessed/REALDISP/data_mutual.pickle
/data/preprocessed/REALDISP/data_self.pickle
/data/preprocessed/Vicon Physical Action Data Set/data.pickle
/data/preprocessed/WISDM/data_accel_phone.pickle
/data/preprocessed/WISDM/data_accel_watch.pickle
.idea
